@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');


h1 {
  font-size: 3em;
}
p {
  color: #666666;
}
table {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}




.icon {	
	box-shadow: 0 2px 3px #e2e8e6;
	opacity: 0.95;
	text-align:center;
  background-color: #F2B705;
  background-image: url('images/about.png');
  background-size: cover;
}
.icon .color {
  background-color: rgba(242,183,5,0.9);
}
.icon table {
  width: 65%;
  padding: 26px 0;
}
.icon td {
  width: 33%;
}
.icon a {
  text-decoration: none;
  color: white;
  transition: color 0.2s ease-in-out;
}
.icon a:visited {
  color: white;
}
.icon a:hover {
  color: #ed1e24;
  transition: 0.2s;
}
.icons i {
  font-size: 40px;
  padding-bottom: 20px;
}

.main-img {
	/*width: 60%;*/
  max-width: 700px;
	padding: 5em;
	float: left;
}
.application{
	text-align: justify;
	margin-top: 11em;
	margin-right: 5em;
}

.application p {
  line-height: 1.6em;
  margin-bottom: 80px;
}
.button {
  margin: 0;
}



#team a {
  text-decoration: none;
}
.card {
    position: relative;
    display: inline-block;
    width: 20%;
    /*height: 120%;*/
    padding: 20px;
    margin-right: 10px;
    background-color: #fbf9f3;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    transition: 0.35s;
}
.card:hover {
    background-color: #e6e6e4;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img {
    width: 100%;
    border-radius: 5px; 
}
.card a {
  position: absolute;
  color: #ed1e24;
  bottom: 16px;
  right: 20px;
}
.card h3 {
  margin-bottom: 0px;
  text-align: left;
}
.title {
  color: grey;
  text-align: left;
}


.clearboth{
	clear:both;
	background-color:#F2B705;
	padding-bottom:150px;
}
.headers {
  text-align:center; 
  color:#F2B705; 
  padding-top:85px;
  margin-top: 0;
}

#the-goal-section {
  background-color: white;
  position: relative;
  box-shadow: 0px 2px 30px 1px rgba(0,0,0,0.2);
}
.goal {
  display: inline-block;
  margin-right: 30px;
  width: 100%;
  height: 600px;
}
.goal img {
  width: 100%;
}
.goal h2 {
  text-align: left;
}
.goal p {
  text-align: left;
  color: #666666;
  line-height: 1.5em;
}

.goal-table {
  width: 80%;
}
.goal-table td {
  padding: 30px;
}

.goal-table td {
  width: 25%;
}
