h1 {
	font-size: 2.5em;
}
p {
	line-height: 1.7em;
	color: #666666;
}
#banner {
	position: relative;
	height: 600px;
	background-image: url('images/banner2.png');
	background-size: cover;
	background-repeat: no-repeat;
	/*z-index:1;*/
	margin-bottom: 0;
}
.banner-btn {
	position: absolute;
	bottom: 70px;
	left: 50%;
	margin-left: -72.9px;
}
.button {
	padding: 15px 20px;
	margin: 5px;
	background-color: gray;
	text-decoration: none;
	color: black;
	border-radius: 5px;	
}
.button-primary {
	background-color: #F2B705;
	transition: background-color 0.2s ease-in-out;
}
.button-primary:hover {
	background-color: #c59400;
	transition: 0.2s;
}
.button-secondary {
	border: 1px solid #391859;
	background-color: transparent;
	font-weight: 500;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button-secondary:hover {
	background-color: #391859;
	color: white;
	transition: 0.3s;
}
#banner .down-arrow {
	font-size: 2em;
	position: absolute;
	bottom:5px;
	left: 50%;
	margin-left: -19px;
	
}
.down-arrow i {
	color: #551a8bc7;
	transition: color 0.2s;
}
.down-arrow i:hover {
	color: #ED1E24;
}


.section {
	/*margin-bottom: 10px;*/
}
.texts {
	text-align: center;
	padding: 50px 25% 100px;
	margin-top: 50px;
	margin-bottom: 0;
	background-image: url("images/bg2.png");
	background-size: cover;
}
.text-section {
	margin-bottom: 80px;
}
.hr-texts {
	width: 10%;
	border: 1px solid #ed1e24;
	margin-bottom: 20px;
}
.p-texts {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}
#browse-hr {
	border: 1px solid #2f0f44;
}
#browse-text {
	color: #292828e6;
}
.categories {
	padding: 40px 70px;
	background-color: white;
	box-shadow: 0px 2px 30px 1px rgba(0,0,0,0.2);
}
.card {
	display: inline-block;
	width: 20%;
	padding: 20px 20px 0 20px;
	margin-right: 10px;
	background-color: #fbf9f3;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	transition: background-color 0.35s, box-shadow 0.35s;
	color: black;
}
.latest .card {
	position: relative;
	min-height: 320px;
	vertical-align: top;
}
.latest .card p {
	position: absolute;
	left: 20px;
	bottom: 0;
}
.card:hover {
	background-color: #e6e6e4;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card img {
	width: 100%;
	height: 180px;
	border-radius: 5px; 
	margin-bottom: 10px;
}
.categories table {
	width: 100%;
}
.categories table a {
	text-decoration: none;
	color: #666666;
}
.categories table a:hover {
	text-decoration: underline;
}
.categories .right-align {
	text-align: right;
}
.categories a {
	text-decoration: none;
}
.category {
	margin-bottom: 50px;
}

.card p {
	color: #ed1e24;
}
.latest-hows {
	margin-top: 5px;
	margin-bottom: 30px;
}
.sml-how-to {
	color: #808080;
}