/*REQUIRED CSS*/
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');


html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Public Sans', sans-serif;
	margin: 0;
	font-size: 16px;
	background-color: #f4f7f6;

/*for animation*/
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
	   -moz-animation: fadein 1s; /* Firefox < 16 */
	    -ms-animation: fadein 1s; /* Internet Explorer */
	     -o-animation: fadein 1s; /* Opera < 12.1 */
	        animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0.5; }
    to   { opacity: 1; }
}



.navigation {
	font-family: 'Public Sans', sans-serif;
	/*position: -webkit-sticky;*/
	position: relative;
	/*top: 0;*/
	box-shadow: 0 2px 3px #e2e8e6;
	background-color: white;
	opacity: 0.95;
	z-index: 1;
}
.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-right: 20px;
}

.navigation li {
	float: right;
}

.navigation li a {
  display: inline-block;
  text-align: center;
  padding: 16px 12px;
  text-decoration: none;
  color: black;
  transition: color 0.2s ease-in-out;
}
.nav-logo {
	position: absolute;
	left: 40px;
	top: 0;

}
.nav-logo img {
	width: 80px;

}
.nav-logo a {
	padding: 0px !important;
}
.navigation .active {
	color: #ed1e24;
}
.navigation a:hover {
	color: #ed1e24;
	transition: 0.2s;
}

.footer {
	text-align: center;
}
.footer p {
	color: #666666;
	font-family: 'Public Sans', sans-serif;
}

.button {
	padding: 15px 20px;
	margin: 5px 0;
	background-color: gray;
	text-decoration: none;
	color: black;
	border-radius: 5px;	
}
.button-primary {
	background-color: #F2B705;
	transition: background-color 0.2s ease-in-out;
}
.button-primary:hover {
	background-color: #c59400;
	transition: 0.2s;
}
.button-secondary {
	border: 1px solid #391859;
	background-color: transparent;
	font-weight: 500;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.button-secondary:hover {
	background-color: #391859;
	color: white;
	transition: 0.3s;
}

/* END OF REQUIRED CSS*/